{% load sass_tags %}

<link href="{% sass_src 'dataweather/style.scss' %}" rel="stylesheet" type="text/css" />

{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
    <li><a href="{% url 'dataweather:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
    <p>teste</p>
    <div class="home">
        <p>paragrafo</p>
        <p>paragrafo2</p>
        <span>span</span>
    </div>
{% else %}
    <p>no questions available</p>
{% endif %}